Django==3.0.7
django-filter==2.2.0
djangorestframework==3.11.0
django-push-notifications==2.0.0
geographiclib==1.50
geopy==1.21.0
jsonschema==3.2.0
mysqlclient==1.4.6
selenium==3.141.0
requests==2.23.0
sqlparse==0.3.1
beautifulsoup4==4.8.2
lxml==4.5.0
webdriver-manager==2.3.0